<div class="container">
<div class="navbar">
    <h1 class="logoText">D</h1>
    <ul class="navbarList">
        <a class="navText">About</a>
        <a class="navText">Experience</a>
        <a class="navText">Work</a>
      <button class="resume" ><a class="navText" style="color: black">Resume</a></button>
    </ul>
</div>
    <section class="introField">
        <div class="introSpace1">
            <div class="introSpaceText">
            <p class="introHeading">Save time by building  fast with Boldo Template</p>
            <p class= "introSub"> Funding handshake buyer business-to-business metrics iPad partnership. First mover advantage innovator success deployment non-disclosure.</p>
            </div>
            <div class="introButtons">
                <a class="introButton1"><p class="introButtonText1">Buy Template</p></a>
                <a class="introButton2"><p class="introButtonText2">Explore</p></a>
            </div>
        </div>
        <div class="introSpace2">
         <img id="rectangle1" src="/assets/Group 256.png" alt="">
            <img id="rectangle2" src="assets/Rectangle 1289.png" alt="">
            <img id="rectangle3" src="assets/Frame 262.png" alt="">
        </div>
    </section>
  <div>
    <img  class="logoWall" src="assets/Logo%20Wall.png" alt="">
  </div>
</div>
