<div>
<div class="navbar">
    <h1 class="logoText">D</h1>
    <ul class="navbarList">
        <a class="navText" href="#about">About</a>
        <a class="navText" href="#works">Work</a>
      <button class="resume"><a class="navText" style="color: black">Resume</a></button>
    </ul>
</div>
    <section class="introField">
            <div class="introSpaceText">
              <p class="subHead">Hey, I am</p>
            <h1 class="introHeading">David Amusan</h1>
              <h1 class="introHeading introHeading2">I make web dreams a reality</h1>
            <p class= "subHead" style="font-size: 25px; margin-bottom: 55px">I am a software engineer currently specializing in coding web Apps <br>and Web Pages that meet
            the expectations of both the end user and stakeholders. </p>
            </div>


      <button class="resume"><a class="navText" style="color: black" href="#about">Lets get Started!</a></button>
    </section>

  <section class="introField field" id="about">
    <h2 class="subIntroHeading">About Me</h2>
    <div class="row">
    <p class="subHead col-7" style="font-size: 20px">Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development
      started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog
      button taught me a lot about HTML & CSS!<br><br> Fast-forward to today, and I’ve had the privilege of working at an advertising agency,
      a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible,
      inclusive products and digital experiences at Upstatement for a variety of clients. I also recently launched a course
      that covers everything you need to build a web app with the Spotify API using Node & React.</p>
    <div class="col-5">
      <p>Picture</p>
    </div>
    </div>
  </section>

  <section class="introField " id="works"  style="padding: 100px;">
    <h2 class="subIntroHeading">Works</h2>
    <div class="imgSpace row">

    </div>
  </section>
  </div>
